:root {
  --bg-color-light: #1e1e1e;
  --text-color-light: #eaeaea;
  --accent-color: #e07f7c;
  background-image: url("/public/v830-sasi-29.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  --tag-background-color: rgba(107, 126, 222, 0.708);
}

a {
  text-decoration: none;
  color: inherit;
}

.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;

  color: #000;
  border: none;
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;
  font-size: 40px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  color: var(--text-color-light);
  font-family: "Inter", sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px; /* Adjust height */

  backdrop-filter: blur(20px); /* Optional: Glass effect */
  z-index: 1000; /* Ensure navbar is above content */
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.navbar a {
  color: var(--text-color-light);
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  transition: color 0.3s ease-in-out, transform 0.3s ease;
}

.navbar a:hover {
  color: var(--accent-color);
  transform: scale(1.1);
  cursor: pointer;
}

.navbar ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 20px;
}

.content {
  padding-top: 20px;
  padding-left: 20px;
}

a:hover {
  color: var(--accent-color);
  transform: scale(1.1);
  cursor: pointer;
}

/* about me */

.card-container {
  display: flex;
  flex-direction: column;
}

h1 {
  display: flex;
  font-size: 3rem;
  padding-left: 40px;
  padding-right: 40px;
}

.card-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  padding: 20px;
  justify-content: space-between;
}

.left {
  flex-direction: row;
}

.right {
  flex-direction: row-reverse;
}

.card-text {
  flex: 1;
  font-size: 2rem;
}

.card-image {
  flex-shrink: 1;
}

.card-image img {
  width: 400px;
  height: auto;
  border-radius: 10px;
}

/*End About me */

/* Projects */

#projects {
  display: flex;
  flex-direction: row;
  height: 30rem;
}

.card-project {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  gap: 20px;
  cursor: pointer;
}

.card-inner {
  width: 100%;
  height: 100%;

  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  width: 100%;

  position: absolute;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.card-back {
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
}

.card-project-links {
  display: flex;
  flex-direction: column;
}

.card-project-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tag {
  display: inline-block;
  background-color: var(--tag-background-color);
  color: var(--text-color-light);
  padding: 0.3rem 0.4rem;
  border-radius: 4rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

/* End Projects */

/* Contact */
#contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-items {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.contact-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: larger;
}

.contact-item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
